/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-visible-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-visible-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




html,
body {
  height: 100%;
  font-family: Lato, sans-serif;
  color: var(--stone-900);
  --scrollbar-width: 0.5rem;
}


* {
  scrollbar-color: var(--stone-500) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--stone-500);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


/* Layout */
#__next {
  /* height: 100%; */
}

.p-3 {
  padding: var(--s-3);
}

.mb-1 {
  margin-bottom: var(--s-1);
}

.mb-3 {
  margin-bottom: var(--s-3);
}

.mb-4 {
  margin-bottom: var(--s-4);
}


/* Typography */
p {
  font-size: var(--fs-3);
  font-weight: normal;
  line-height: 1.4;
  color: var(--stone-600);
}

p+p {
  margin-top: 1em;
}

.heading {
  font-size: var(--fs-6);
  font-weight: bold;
  line-height: 1.15;
}

.headline {
  font-size: var(--fs-35);
  font-weight: normal;
}

.bodyText {
  font-size: var(--fs-3);
  font-weight: normal;
}

.footnote {
  font-size: var(--fs-25);
  font-weight: normal;
  color: var(--stone-500);
}

.caption {
  font-size: var(--fs-2);
  font-weight: normal;
}

/* Colors */
.color-stone-500 {
  color: var(--stone-500);
}

/* Components */
.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--stone-50);
}

.card {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  text-align: center;
}

.cardPadding {
  padding: var(--s-4);
}

.welcomeCardLayout {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
}

@media (min-width: 640px) {
  .page {
    align-items: center;
  }

  .card {
    width: min(100%, 400px);
    margin-inline: var(--s-5);
    border-radius: var(--br-600);
    box-shadow: var(--shadow-400);
  }

  .welcomeCard {
    width: min(100%, 800px);
  }

  .cardPadding {
    padding: var(--s-5);
  }

  /* .welcomeCardLayout {
    flex-direction: row;
  }

  .welcomeCardLayout>* {
    flex: 1;
  } */

  .content {
    display: grid;
    align-content: center;
  }
}

.imageWrapper {
  display: grid;
  place-items: center;
  border-radius: var(--br-400);
  background-color: var(--light-red-100);
  padding-block: var(--s-6);
}

.imageWrapper img {
  width: 70%;
}

.buttonsWrapper {
  display: grid;
  gap: var(--s-6);
  margin-top: var(--s-6);
}

.btn {
  --padding-base: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) calc(var(--padding-base) * 2.5);
  line-height: 1;
  font-size: var(--fs-3);
  font-weight: 500;
  color: inherit;
  border: 1px solid transparent;
  border-radius: var(--br-200);
  cursor: pointer;
  transition: var(--transition);
}

.btn>* {
  flex-shrink: 0;
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  color: var(--white);
  background-color: var(--light-red-300);
  box-shadow: var(--light-red-shadow-500);
}

.btn-primary:focus-visible,
.btn-primary:hover {
  box-shadow: var(--light-red-shadow-700);
}

.btn-white {
  background-color: var(--white);
}

.btn-white:focus-visible,
.btn-white:hover {
  background-color: var(--stone-100);
}

.btn-grey {
  background-color: var(--stone-150);
}

.btn-grey:focus-visible,
.btn-grey:hover {
  background-color: var(--stone-200);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--stone-150);
}

.btn-outline:focus-visible,
.btn-outline:hover {
  border-color: var(--stone-300);
}

.btn svg {
  width: 1.5em;
  height: 1.5em;
  margin-block: -.25em;
}

.icon-left svg {
  margin-right: 1em;
}

.btn-with-icon {
  --padding-base: 0.625rem;
  padding: var(--padding-base);
}

.btn-with-icon svg {
  margin-block: 0;
}

.btn-with-icon:where(.round) {
  --padding-base: 0.4375rem;
  border-radius: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--s-3);
  margin-block: var(--s-5);
}

.formField p {
  display: none;
}

.formField label {
  display: flex;
  align-items: center;
  gap: var(--s-2);
  line-height: 1;
  font-size: var(--fs-25);
}

.formField input {
  --padding-base: 0.875rem;
  display: block;
  padding: var(--padding-base) calc(var(--padding-base) * 1.5);
  border: 0;
  border: 1px solid transparent;
  background-color: var(--stone-100);
  border-radius: var(--br-200);
  font-size: var(--fs-3);
  line-height: 1;
  transition: var(--transition);
}

.formField input:focus-visible-visible,
.formField input:active {
  outline: unset;
  background-color: white;
  border-color: var(--stone-500);
  box-shadow: 0 0 0 4px var(--stone-200);
}

.formField input.valid {
  border-color: var(--color-success);
  box-shadow: 0 0 0 4px var(--light-green-100);
}

.formField input.invalid {
  border-color: var(--color-danger);
  box-shadow: 0 0 0 4px var(--light-red-100);
}

.devider {
  position: relative;
  display: grid;
  place-items: center;
}

.devider::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 65%;
  background-color: var(--stone-300);
}

.devider span {
  z-index: 1;
  background: var(--white);
  padding-inline: var(--s-3);
  font-size: var(--fs-25);
  color: var(--stone-600);
  line-height: 0.8;
  padding-top: 0.2em;
}

.cardFooter {
  margin-top: var(--s-5);
}

.cardFooter a {
  color: var(--light-red-300);
  margin-left: var(--s-1);
}

.cardHeader {
  --btn-width: 48px;
  --spacing-base: var(--s-3);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-block: var(--spacing-base);
  padding: 0 var(--spacing-base) 0 calc(var(--spacing-base) + var(--btn-width));
}

.cardHeader h1 {
  flex: 1;
}

@media (min-width: 640px) {
  .cardHeader {
    --spacing-base: var(--s-5);
  }
}

.dashboard {
  display: flow-root;
  position: relative;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: var(--transition);
}

.overlay:is(.blurred) {
  backdrop-filter: blur(4px);
}

.offscreenCard {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  visibility: hidden;
  /* box-shadow: -16px 0px 64px rgba(0, 0, 0, 0.15); */
  transform: translateX(120%);
  transition: var(--transition);
}

.offscreenCard:is(.open) {
  visibility: visible;
  /* box-shadow: -4px 0px 16px rgba(0, 0, 0, 0.05); */
  transform: translateX(0);
}

@media (min-width: 640px) {
  .dashboard {
    display: flow-root;
    position: relative;
    min-height: 500px;
  }

  .offscreenCard {
    border-radius: var(--br-600);
  }

  .offscreenCard:is(.open) {}
}

.offscreenCard>* {
  flex-shrink: 0;
}

.avatar {
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-bottom: var(--s-3);
  width: 80px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--stone-150);
}

.avatar svg {
  width: 42px;
  height: 42px;
}

.settingsNav {
  --spacing-base: var(--s-4);
  flex: 1;
  margin-top: var(--spacing-base);
  padding: var(--spacing-base);
  padding-right: calc(var(--spacing-base) - var(--scrollbar-width));
  overflow: auto;
  scrollbar-gutter: stable;
}

@media (min-width: 640px) {
  .settingsNav {
    --spacing-base: var(--s-5);
  }
}

.settingsNav ul {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.settingsNav .btn {
  width: 100%;
  justify-content: flex-start;
  padding-inline: var(--padding-base);
}

.settingsNav .btn .chevronIcon {
  margin-left: auto;
  color: var(--stone-500);
  font-size: 0.875rem;
}

.settingsNav .btn .chevronIcon svg {
  margin-right: unset;
}