/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




html,
body {
  height: 100%;
  font-family: Lato, sans-serif;
  color: var(--stone-900);
}

a {
  color: inherit;
  text-decoration: none;
}


/* Layout */
#__next {
  /* height: 100%; */
}


/* Typography */
.heading {
  margin-bottom: var(--s-3);
  font-size: var(--fs-6);
  font-weight: bold;
  line-height: 1.15;
}

p {
  font-size: var(--fs-3);
  font-weight: normal;
  line-height: 1.4;
  color: var(--stone-600);
}

p+p {
  margin-top: 1em;
}

@media screen and (min-width: 640px) {
  .mobile-break {
    display: none;
  }
}


.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--stone-50);
}

.card {
  padding: var(--s-3);
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  text-align: center;
}

.cardLayout {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
}

.content {}

@media (min-width: 640px) {
  .page {
    align-items: center;
  }

  .card {
    width: min(100%, 800px);
    margin-inline: var(--s-5);
    padding: var(--s-5);
    border-radius: var(--br-600);
    box-shadow: var(--shadow-400);
  }

  .card.isForm {
    width: min(100%, 400px);
  }

  .cardLayout {
    flex-direction: row;
  }

  .cardLayout>* {
    flex: 1;
  }

  .content {
    display: grid;
    align-content: center;
  }
}

.imageWrapper {
  display: grid;
  place-items: center;
  border-radius: var(--br-400);
  background-color: var(--light-red-100);
  padding-block: var(--s-6);
}

.imageWrapper img {
  width: 70%;
}

.buttonsWrapper {
  display: grid;
  gap: var(--s-6);
  margin-top: var(--s-6);
}

.btn {
  --padding-base: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) calc(var(--padding-base) * 2.5);
  line-height: 1;
  font-size: var(--fs-3);
  font-weight: 500;
  color: inherit;
  border: 2px solid transparent;
  border-radius: var(--br-200);
  cursor: pointer;
  transition: var(--transition);
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  color: var(--white);
  background-color: var(--light-red-300);
  box-shadow: var(--light-red-shadow-500);
}

.btn-primary:focus,
.btn-primary:hover {
  box-shadow: var(--light-red-shadow-700);
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--stone-100);
}

.btn-outline:focus,
.btn-outline:hover {
  border-color: var(--stone-300);
}

.btn svg {
  width: 1.5em;
  height: 1.5em;
  margin: -.5em;
}

.icon-left svg {
  margin-right: 1em;
}

.formField {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--s-1);
  margin-block: var(--s-5);
}

.formField p {
  display: none;
}

.formField label {
  display: flex;
  align-items: center;
  gap: .5em;
  line-height: 1;
  font-size: var(--fs-25);
}

.formField input {
  --padding-base: 0.5rem;
  padding: var(--padding-base) 0;
  border: 0;
  border-bottom: 1px solid var(--stone-300);
  background-color: transparent;
  /* border-radius: var(--br-200); */
  line-height: 1;
  transition: var(--transition);
}

.formField input:focus,
.formField input:active {
  outline: none;
  border-color: var(--stone-600);
}

.formField input.valid {
  border-color: var(--color-success);
}

.formField input.invalid {
  border-color: var(--color-danger);
}

.devider {
  position: relative;
  display: grid;
  place-items: center;
}

.devider::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 65%;
  background-color: var(--stone-300);
}

.devider span {
  z-index: 1;
  background: var(--white);
  padding-inline: var(--s-3);
  font-size: var(--fs-25);
  color: var(--stone-600);
  line-height: 0.8;
  padding-top: 0.2em;
}

.cardFooter {
  margin-top: var(--s-5);
}

.cardFooter a {
  color: var(--light-red-300);
  margin-left: var(--s-1);
}